.App {
  text-align: center;
}

.SearchBar{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.SearchBar button {
  margin-left: 1rem;
}

.ButtonWrapper{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.ButtonWrapper button {
  margin: 1rem;
}